html {
    font-family: 'Gill Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    font-size: 36px;
    text-align: center;
    color: rgba(64, 64, 128, 1);
    background: rgba(128, 128, 256, 1);
}

#config {
    margin-top: 24px;
    padding: 18px;
    display: none; /* set to flex in countdown.js */
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 24px;
}

#config p {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#config p label {
    flex: 25%;
}
#config p input {
    flex: 75%;
    text-align: center;
    background: rgba(200, 200, 256, 1);
    font-family: 'Gill Sans', sans-serif;
}

input[type="submit"] {
    padding: 6px;
}

#countdown {
    padding: 24px 12px;
}

#countdown div {
    text-align: center;
    padding: 12px;
}

div.title {
    font-size: 36px;
}

div.countdown {
    font-size: 30px;
}

div.time {
    font-size: 12px;
}

#new {
    font-size: 10px;
    text-align: right;
    position: absolute;
    bottom: 24px;
    right: 24px;
}
